node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
.git
.github
.env
.env.*
!.env.production.example
docker/data
minio-data
packages/did/dev
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/.env
*.log
